body{
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
}

#div2{
	float: left;
	margin: 20px;
}
#div3{
	float: left;
	margin: 20px;
}
#div4{
	float: left;
	margin: 20px;
	margin-top: 30px;
}
#div5{
	float: left;
	margin: 20px;
	list-style: none;
	margin-right:40px ;
	margin-top:30px ;
}